body {
    background-color: #DEF9C4;
    font-family:cursive;
}
.header {
    background-color: #9CDBA6;
    padding: 25px;
    color:#468585;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
}
.nav {
    background-color: #50b49884;
    border-radius: 30px;
    display: inline-block;
    justify-content: center;
}
.content {
    display: flex;
}
.main-content {
    background-color: #9CDBA6;
    border-radius: 20px;
    color:#468585;
    flex: 3;
    padding: 25px;
    margin: 10px;
}
.aside {
    background-color: #9CDBA6;
    border-radius: 20px;
    color:#468585;
    flex: 1;
    padding: 25px;
    margin: 10px;
    text-align: center;
    height: 730px;
}
.Hobi {
    background-color: #9CDBA6;
    border-radius: 20px;
    color:#468585;  
    padding: 25px;
    margin: 10px;
    display: flex;
    justify-content: center;
}
.article {
    background-color:#b0ebba;
    border-radius: 20px;
    color: #468585;
    padding: 25px;
    margin: 10px;
    display: block;
    text-align: center;
}
.footer {
    background-color: #9CDBA6;
    border-radius: 20px;
    color:rgb(0, 173, 46);
    padding: 25px;
    margin: 10px;
    display: flex;
    justify-content: center;
}
.navbar {
    background-color: #9CDBA6;
}